---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Nicolas Morales</h1>
			<p class="hero__text">
				Self-taught UX/UI and front-end developer crafting responsive designs for real-world needs
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/nicoProfilephoto.jpg"
		alt="Nicolas Morales imgage"
		width="384"
    	height="384"
	/>
	</div>
</section>
