.hero {
	padding: 6rem 2.2rem 0 2.2rem;
	width: 100%;
	height: 100vh;
	min-height: 100dvh;
	background-size: 200%;
	display: flex;
	flex-direction: column;
	color: var(--on-primary);
	background: var(--hero-bg);
	animation: presentation 3s linear forwards;
	align-items: center;
	flex-wrap: wrap-reverse;
	position: relative;
	justify-content: center;
}

.hero::after {
	content: '';
	position: absolute;
	height: 4rem;
	width: 100%;
	background: linear-gradient(0deg, var(--primary-0), #0000);
	bottom: 0;
}

.hero__img {
	width: 35%; /* Ajusta el tamaño relativo al contenedor */
	height: auto; /* Mantiene las proporciones de la imagen */
	aspect-ratio: 1 / 1; /* Asegura que el círculo sea perfecto */
	object-fit: cover; /* Recorta la imagen sin deformarla */
	object-position: center 32%; /* Ajusta la posición de tu rostro */
	border-radius: 50%; /* Hace que el contenedor sea circular */
	overflow: hidden; /* Oculta cualquier parte fuera del círculo */

  }
  

.hero .hero__container {
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%;
	max-width: var(--max-width);
	gap: 8rem;
}

.hero .hero__text {
	font-size: var(--text-xx-large);
}

.hero__container .text__content {
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4rem;
}

.hero__container .text__content .hero__title {
	font-size: var(--text-xxx-large);
	line-height: var(--text-xxx-large);
}

.hero__container .hero__title p {
	font-size: var(--text-x-large);
	font-weight: normal;
	color: var(--primary-90);
	max-width: 80%;
}

@media screen and (max-width: 768px) {
	.hero {
		padding: 12rem 0 5rem 0;
	}
	.hero .hero__img {
		max-width: 35rem;
	}
	.hero .hero__container {
		display: flex;
		max-width: 100%;
		gap: 0;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.hero .text__content {
		align-items: center;
	}

	.hero .hero__text {
		font-size: var(--text-x-large);
		text-align: center;
	}
}

@media screen and (min-width: 769px) {
	.hero {
		padding: 8rem 4rem;
	}
	.hero .hero__container {
		display: grid;
		grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
		gap: 6rem;
		align-items: center; /* Asegura que los elementos dentro de las columnas estén centrados verticalmente */
	}
	.hero .hero__img {
		width: 100%; /* Aumenta el tamaño de la imagen */
		max-width: 25rem; /* Limita su tamaño máximo */
		margin: 0 auto; /* Centra la imagen horizontalmente */
		align-self: center; /* Centra la imagen verticalmente dentro de su columna */
	}
	.hero .text__content {
		max-width: 100%; /* Limita el ancho del contenedor del texto */
		overflow: hidden; /* Evita que el contenido desborde */
		text-align: left; /* Asegura que el texto esté alineado correctamente */
	}
	.hero .hero__text {
		font-size: 2.5rem; /* Tamaño mayor para textos */
		text-align: left; /* Alineación del texto */
	}
	.hero .hero__title p {
		max-width: 60%; /* Reduce el ancho del párrafo */
	}
}

@keyframes presentation {
	0% {
		background-size: 200%;
	}
	50% {
		background-position: 70%;
	}
	100% {
		background-size: 100%;
	}
}

/* Annimaciones*/

#typewriter {
	display: inline-block;
	overflow: hidden; /* Oculta el texto no "escrito" */
	white-space: normal; /* Permite saltos de línea */
	animation: typing 4s steps(40, end) forwards; /* Efecto de escritura */
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--on-primary);
	position: relative; /* Para posicionar el cursor */
  }
  
  #typewriter::after {
	content: ''; /* Crea el cursor */
	position: absolute;
	bottom: 0; /* Alinea el cursor con el texto */
	left: calc(100%); /* Coloca el cursor al final del texto visible */
	width: 2px;
	height: 1em; /* Altura similar al texto */
	background-color: var(--on-primary);
	animation: blink 0.7s steps(2) infinite; /* Cursor parpadeante */
  }
  
  @keyframes blink {
	0%, 100% {
	  border-color: transparent;
	}
	50% {
	  border-color: var(--on-primary);
	}
  }