---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Nicolás Morales</h1>
			<p class="hero__text"	id="typewriter"> 

			</p>
			<Boton href="#" texto="Know more"/>
		</div>
    <img
		class="hero__img"
		src="/img/nicoProfilephoto.jpg"
		alt="Nicolas Morales imgage"
		width="384"
    	height="384"
	/>
	</div>
</section>
<script src="/js/hero.js" type="module" defer></script>



