---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			Front-End Development: Proficient in CSS, JavaScript, and React, with expertise in creating clean, maintainable, and efficient code.
		</p>
		<p>
			Responsive Design: Mastery of Flexbox, Tailwind CSS, and modern techniques to build adaptable layouts for any device.
		</p>
		<p>
			UX/UI Design: Strong focus on user-centered design, creating intuitive interfaces and seamless user experiences. Skilled in prototyping, wireframing, and delivering responsive, pixel-perfect designs.
		</p>
	</div>
</section>
