---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				I love to be able to imagine something and be able to carry it out thanks to technology, thanks to my experience talking to various cultures of the world I could expand my vision and broaden my horizons, I love music and learn empirically, I strongly believe that when you make a mistake you are closer to success than failure, that's what life is all about.
			</p>
			<p class="about__text">I am an empirical musician, I love video games, create and build things, in my free time I learn carpentry, which is a passion, and everything is connected to create solve everyday problems.


			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
