---
const NUM_STARS = 100; // Número de estrellas
const stars = Array.from({ length: NUM_STARS }, (_, i) => ({
	id: i,
	x: Math.random() * 100,
	y: Math.random() * 100,
	delay: Math.random() * 10,
}));
---

<div class="stars">
	{stars.map((star) => (
		<div
			class="star"
			style={`top: ${star.y}%; left: ${star.x}%; animation-delay: ${star.delay}s;`}
			key={star.id}
		></div>
	))}
</div>
